# Disable root login
PermitRootLogin no
# Enable public key authentication
PubkeyAuthentication yes
# Disable password authentication
PasswordAuthentication no
# Disable printing logon message
PrintMotd no

UsePrivilegeSeparation sandbox		# Default for new installations.
